* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0 5vw 0 5vw;
  display: contents;
  max-width: 700px;
  min-width: 320px;
}
header .nav-bar {
  display: list-item;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", bold;
}
header .nav-bar .logo-recicla {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
header .nav-bar .logo-recicla a {
  padding-left: 1vw;
  margin-right: 4vw;
  color: #1f2937;
  text-decoration: none;
}
header .nav-div {
  align-items: center;
  padding: 3vh 2vw 1vh 2vw;
}
header .nav-div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 400;
  gap: 25px;
}
header .nav-div li {
  font-weight: 500;
  font-size: 1rem;
  margin: 10px;
  color: #1f2937;
}
header .nav-div a {
  font-size: 1rem;
  color: #1f2937;
  text-decoration: none;
}
header .nav-div .comecar-agora button {
  border: none;
  font-size: 1rem;
  padding: 18px 28px 18px 28px;
  border-radius: 6px;
  background-color: #16a34a;
  color: #f0fdf4;
}
header .nav-div .comecar-agora button:hover {
  background-color: #21c05c;
  cursor: pointer;
}
header .nav-div .comecar-agora button a {
  color: #f0fdf4;
  text-decoration: none;
}

main {
  margin: auto;
  display: contents;
  max-width: 700px;
  min-width: 320px;
}
main .section-inicial .home-text-buttons-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10vh 5vw 10vh 5vw;
}
main .section-inicial .home-text-buttons-img .front-text-button {
  width: 40vw;
}
main .section-inicial .home-text-buttons-img .front-text-button .home-text {
  display: flex;
  flex-direction: column;
  color: #1f2937;
}
main .section-inicial .home-text-buttons-img .front-text-button .home-text h1 {
  font-family: "Poppins", bold;
  font-weight: 700;
  line-height: 130%;
  font-size: 6vh;
  margin-bottom: 20px;
  display: flex;
  word-break: break-all;
}
main .section-inicial .home-text-buttons-img .front-text-button .home-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}
main .section-inicial .home-text-buttons-img .front-text-button .buttonsfrontpage {
  display: flex;
  justify-content: left;
  gap: 40px;
  padding-top: 20px;
}
main .section-inicial .home-text-buttons-img .front-text-button .doarbutton {
  border: none;
  width: 11.8vw;
  height: 6.8vh;
  gap: 10px;
  border-radius: 6px;
  background-color: #16a34a;
  color: #f0fdf4;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}
main .section-inicial .home-text-buttons-img .front-text-button .doarbutton img {
  padding-left: 10px;
}
main .section-inicial .home-text-buttons-img .front-text-button .doarbutton:hover {
  background-color: #21c05c;
  cursor: pointer;
}
main .section-inicial .home-text-buttons-img .front-text-button .quero-adq-btn {
  border: solid 1px #2563eb;
  background-color: transparent;
  width: 11.8vw;
  height: 6.8vh;
  gap: 10px;
  border-radius: 6px;
  color: #2563eb;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}
main .section-inicial .home-text-buttons-img .front-text-button .quero-adq-btn img {
  fill: #2563eb;
  padding-left: 10px;
}
main .section-contagem {
  background-color: #f3f5f8;
}
main .section-contagem .barra-de-contagem {
  background-color: #f3f5f8;
  font-family: "Poppins", bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 25vh;
  width: 100%;
}
main .section-contagem .barra-de-contagem .contador h2 {
  color: #16a34a;
  font-size: 2.5rem;
}
main .section-contagem .barra-de-contagem .contador p {
  font-size: 1rem;
}
main .como-funciona {
  display: inline-block;
  flex-direction: left;
  align-items: center;
  color: #1f2937;
  padding: 10vh 0 5vh 5vw;
}
main .como-funciona h1 {
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 20px;
}
main .como-funciona p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
main .section-doadores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 20vh;
  gap: 50px;
}
main .section-doadores .caixas-para {
  display: grid;
  justify-content: center;
  align-items: stretch;
  background-color: #f3f5f8;
  border-radius: 10px;
  width: 28vw;
  height: 50vh;
  padding: 5vh;
}
main .section-doadores .caixas-para h6 {
  color: #4b5563;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}
main .section-doadores .caixas-para .para-doadores {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
main .section-doadores .caixas-para .para-doadores h2 {
  color: #16a34a;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
main .section-doadores .caixas-para .dica-e-numero {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}
main .section-doadores .caixas-para .dica-e-numero h3 {
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 1rem;
}
main .section-doadores .caixas-para .dica-e-numero h4 {
  color: #4b5563;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}
main .section-doadores .caixas-para .dica-e-numero .numero {
  background-color: #16a34a;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section-doadores .caixas-para .dica-e-numero .numero p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-align: center;
}
main .section-doadores .caixas-para .para-adquirentes {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
main .section-doadores .caixas-para .para-adquirentes h2 {
  color: #2563eb;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
main .section-produtosdisponiveis {
  background-color: #f3f5f8;
  padding-bottom: 10vw;
}
main .section-produtosdisponiveis .produtos-disponiveis {
  padding: 5vh;
  padding: 5vw;
}
main .section-produtosdisponiveis .produtos-disponiveis h1 {
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
main .section-produtosdisponiveis .produtos-disponiveis h2 {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
main .section-produtosdisponiveis .produtos {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
main .section-produtosdisponiveis .produtos .caixa-produtos {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  gap: 5vw;
}
main .section-produtosdisponiveis .produto {
  border: solid 2px #16a34a;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 2vh;
  width: 18vw;
  height: 50vh;
}
main .section-produtosdisponiveis .produto img {
  width: 17.9vw;
}
main .section-produtosdisponiveis .produto {
  border: solid 2px #16a34a;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 2vh;
  width: 18vw;
  height: 50vh;
}
main .section-produtosdisponiveis .produto img {
  width: 17.7vw;
  padding-top: 5px;
}
main .section-produtosdisponiveis .produto {
  border: solid 2px #16a34a;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 2vh;
  width: 18vw;
  height: 50vh;
}
main .section-produtosdisponiveis .produto img {
  width: 17.8vw;
}
main .section-produtosdisponiveis h4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
main .section-produtosdisponiveis .descricao-produtos {
  margin-left: 2vw;
  margin-right: 2vw;
}
main .section-produtosdisponiveis .descricao-produtos p {
  color: #4b5563;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 2vh;
  margin: 10px;
}
main .section-produtosdisponiveis button {
  border: none;
  width: 10vw;
  height: 4vh;
  border-radius: 6px;
  background-color: #16a34a;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}
main .section-produtosdisponiveis button:hover {
  background-color: #21c05c;
  cursor: pointer;
}

.section-feedback {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10vh;
}
.section-feedback .top-text {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 8vh;
}
.section-feedback .top-text h2 {
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 2.5rem;
}
.section-feedback .top-text h3 {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.section-feedback .feedbacks {
  display: inline-flex;
  justify-content: center;
  gap: 4vw;
}
.section-feedback .feedbacks .feedback {
  display: block;
  border: solid #9ca3af 1px;
  border-left: solid #9ca3af 4px;
  border-radius: 8px;
  padding: 4vh;
  padding-bottom: 2vh;
}
.section-feedback .feedbacks .texto-feedback {
  color: #4b5563;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
  width: 16vw;
  padding-bottom: 3vh;
  padding-top: 2vh;
}
.section-feedback .feedbacks .icon-nome-fb {
  display: flex;
  gap: 10px;
}
.section-feedback .feedbacks .nome-feedback {
  align-self: center;
}
.section-feedback .feedbacks .nome-feedback h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.section-feedback .feedbacks .nome-feedback h6 {
  color: #4b5563;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.section-final-text {
  background-color: #f3f5f8;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7vh;
}
.section-final-text .final-text {
  width: 40vw;
}
.section-final-text .final-text h1 {
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 1vh;
}
.section-final-text .final-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 3vh;
}
.section-final-text .final-text .botoes-final-text {
  display: inline-flex;
  gap: 1vw;
}
.section-final-text .final-text .botoes-final-text .btn-comecar-agora {
  border: none;
  font-size: 1rem;
  padding: 15px 40px 15px 40px;
  border-radius: 8px;
  background-color: #16a34a;
  color: #f0fdf4;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}
.section-final-text .final-text .botoes-final-text .btn-comecar-agora:hover {
  background-color: #21c05c;
  cursor: pointer;
}
.section-final-text .final-text .botoes-final-text .btn-saber-mais {
  font-size: 1rem;
  padding: 15px 40px 15px 40px;
  border-radius: 8px;
  border: solid 1px #16a34a;
  color: #16a34a;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}

footer .section-footer {
  background-color: #1f2937;
  padding-top: 4vh;
  padding-bottom: 2vh;
}
footer .section-footer h5 {
  color: white;
  font-family: "Poppins", bold;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 100%;
  padding-bottom: 3vh;
}
footer .section-footer p {
  color: #9ca3af;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
  max-width: 12vw;
  padding-top: 1vh;
}
footer .section-footer .div-links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3vh;
}
footer .section-footer .div-links .reciclatech {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .section-footer .div-links .reciclatech img {
  padding-bottom: 3vh;
  height: 7vh;
}
footer .section-footer .div-links .icons-socialmedia {
  padding-top: 1vh;
  display: inline-flex;
  gap: 15px;
}
footer .line-footer {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4aeae;
  height: 0.5px;
  margin: 1vh 2vw 1vh 2vw;
}
footer .direitos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9ca3af;
  font-family: "Poppins", bold;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 350px) and (max-width: 700px) {
  * {
    overflow-x: hidden;
  }
  header .topo-site .nav-bar {
    padding-top: 1vh;
  }
  header .topo-site .nav-bar .nav-div {
    padding: 0;
  }
  header .topo-site .nav-bar .nav-div ul {
    flex-direction: column;
    gap: 0px;
    background-color: #f3f5f8;
    padding: 2vh;
  }
  header .topo-site .nav-bar .nav-div .logo-recicla {
    margin: 2vh;
  }
  header .topo-site .nav-bar .nav-div .logo-recicla a {
    font-size: 35px;
  }
  main .section-inicial .home-text-buttons-img {
    display: flex;
    flex-direction: column;
  }
  main .section-inicial .home-text-buttons-img img {
    display: none;
  }
  main .section-inicial .home-text-buttons-img .front-text-button {
    width: 90%;
  }
  main .section-inicial .home-text-buttons-img .front-text-button .buttonsfrontpage .doarbutton {
    width: 250px;
  }
  main .section-inicial .home-text-buttons-img .front-text-button .buttonsfrontpage .quero-adq-btn {
    width: 250px;
  }
  main .section-contagem .barra-de-contagem {
    display: inline;
    flex-direction: column;
  }
  main .section-contagem .barra-de-contagem .contador {
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  main .section-doadores {
    display: flex;
    flex-direction: column;
  }
  main .section-doadores .caixas-para {
    width: 90%;
    height: 70vh;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos .produto {
    align-items: center;
    height: 60vh;
    width: 70%;
    padding-bottom: 0;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos .produto .descricao-produtos {
    padding-bottom: 2vh;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos .produto img {
    padding-top: 0px;
    width: 100%;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos .produto h4 {
    font-size: 2rem;
    font-weight: 900;
  }
  main .section-produtosdisponiveis .produtos .caixa-produtos .produto button {
    width: 90%;
  }
  main .section-feedback {
    gap: 30px;
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
  main .section-feedback .feedbacks {
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  main .section-feedback .feedbacks .feedback {
    padding: 0px;
  }
  main .section-feedback .feedbacks .feedback .cinco-estrelas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 1vh;
  }
  main .section-feedback .feedbacks .feedback .icon-nome-fb {
    padding: 2vh;
  }
  main .section-feedback .feedbacks .feedback .texto-feedback {
    width: 90%;
    text-justify: distribute-all-lines;
    padding-left: 2vh;
  }
  main .section-final-text .final-text {
    width: 100%;
    gap: 0;
  }
  main .section-final-text .final-text .botoes-final-text {
    justify-content: center;
    gap: 0;
  }
  footer .section-footer .div-links {
    flex-direction: column;
    align-items: center;
  }
  footer .section-footer .div-links .reciclatech img {
    display: flex;
    padding-bottom: 0;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  footer .section-footer .div-links .coluna {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-bottom: 3vh;
  }
  footer .section-footer .div-links .coluna h5 {
    overflow-y: hidden;
    padding: 0;
  }
  footer .section-footer .div-links .coluna p {
    padding-bottom: 0;
    max-width: 100%;
  }
  footer .section-footer .direitos {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */